[submodule "keanrawr/themes/min_night"]
	path = keanrawr/themes/min_night
	url = https://github.com/nathancday/min_night.git
[submodule "keanrawr/public"]
	path = keanrawr/public
	url = https://github.com/keanrawr/keanrawr.github.io.git
	branch = main
[submodule "keanrawr/themes/stack"]
	path = keanrawr/themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
